body{
    
        background-color: #000;
        font-family: roboto;
        background-size: cover;
        width: 1340px;
        background-repeat: no-repeat;
}
  .bg{
    height: 645px;
    width: 1340px;
    background-repeat: no-repeat;
  }
    .topleft{
        position: absolute;
        width: 266px;
        height: 116.51px;
        left: 29px;
        top: 13px;
    }
    .login{
        left: 0px;
        top: 0px;
        
        width: 16em;
    margin-right: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 38px;
    border-color: #ff9100;
    }
   .box{
    position: absolute;
    left: 281px;
    top: 172px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.015em;
    color: white;
    }

    .email{
        color: #ffffff;
        position: absolute;
        
      width: 381px;
      height:20px;
    left: 140px;
     top: 270px;
     box-sizing: border-box;
     border: 1px solid red;
     backdrop-filter: blur(200px);
    background: linear-gradient(90.23deg, rgba(0, 0, 0, 0.61) 0.19%, rgba(0, 0, 0, 0.38) 102.56%);
     background-blend-mode: overlay;
     padding: 25px;
    border-radius: 46px;
    }
    .password{
        color: #ffffff;
        position: absolute;  
      width: 381px;
      height:20px;
      left: 140px;
     top: 340px;
    box-sizing: border-box;
     border: 1px solid red;
     backdrop-filter: blur(200px);
     background: linear-gradient(90.23deg, rgba(0, 0, 0, 0.61) 0.19%, rgba(0, 0, 0, 0.38) 102.56%);
     background-blend-mode: overlay;
    padding: 25px;
    border-radius: 46px;
    }
  
    button{
        position: absolute;
    width: 381px;
    height: 50px;
    left: 140px;
    top: 450px;
    
    background: #FFCD2D;
    backdrop-filter: blur(200px);
    border-radius: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
    }
    footer{
        position: absolute;
        font-size: 12px;
        left: 1200px;
        top: 620px;
        color: #ffffff;
    }